html {
  font-size: 62.5%;
  cursor: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl {
  margin-top: 0;
}
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
}
h1,
ol,
ul,
dl {
  margin-bottom: 30px;
}
p {
  margin-bottom: 15px;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 1.4rem;
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}
